* {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: none;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
.clear {
	clear: both;
}

.purple {
	color: #8B87C7;
}

.purple-background {
	background: #8B87C7;
}






/* Header */

#video {
	height: 100%;
	width: 100%;
	position: absolute;
}


/* Main */

#inner {
	padding-left: 50%;
	padding-top: 66.66%;
	padding-left: calc(50% - 80px);
	padding-top: calc(66.66% - 32.5px);
	position: absolute;
	width: 100%;
    margin-left: calc(-50% + 80px);
}

#inner h1 {
	color: #ffffff;
	text-align: center;
}


#search {
	background: url("../images/opacity.png");
	width: 100%;
	height: 148px;
}

#search input[type="text"], #search select {
	background-color: #ffffff;
	height: 65px;
	border: none;
	margin-top: 41.5px;
	padding: 23px 27px;
	font-size: 20px;
	text-transform: uppercase;
	outline: none;
	border-right: #999999 1px solid;
	margin-left: -4px;
}
#search input[type="text"]:first-of-type {
	width: 540px;
	border-radius: 5px 0 0 5px;
	margin-left: 0;
}
#search input[type="text"]:nth-of-type(2) {
	width: 297px;
	width: 308px;	/* temporary to line up with datetimepicker */
	background: #ffffff url("../images/select-arrow.png") no-repeat right;
	padding-right: 17px;
}
